<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃 유형</title>
    <link rel="stylesheet" href="../javascript/assets/css/style.css">
    <link rel="stylesheet" href="../javascript/assets/css/dracula.css">
</head>
<body>
    <header id="header">
        <h1>레이아웃 유형</h1>
        
    </header>
    <!-- //header -->
    <main id="main">
        <div class="document">
            <h2 class="t_tit">레이아웃(LAYOUT)</h2>
            <p class="t_desc">
                레이아웃이란 웹사이트를 구성하는 요소들을 배치할 공간을 분할하고 정렬하는 것을 말합니다.
            </p>

            <hr>

            <h3 class="t_tit2">레이아웃 방법</h3>
            <h4 class="t_tit3">01. float 방법</h4>
            <p class="t_desc2">
                'float'은 원래 '뜨다'라는 의미이며, 웹페이지에서 이미지를 어떻게 띄워서
                텍스트와 함께 배치할 것인가에 대한 속성입니다. div태그로 틀을 잡는데, div 태그는 block 특성을
                가지고 있어 세로로 표시됩니다. 이것을 가로로 정렬시켜주는 것이 <i>float</i>입니다. 
                이 속성을 쓰면 요소가 보이지 않는
                버그가 생기는데, clear:both;를 사용하면 요소를 다시 볼 수 있습니다.
            </p>
            <div class="t_box">
                <i><사용방법></i><br>
                float: left; <br>
                버그로 나타나지 않는 요소에는<br>
                clear: both; 
            </div>
            <p class="t_desc">사용예시</p>
            <p class="codepen" data-height="300" data-default-tab="css,result" data-slug-hash="xxWLgRq" data-user="kim-chanmi" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/kim-chanmi/pen/xxWLgRq">
                float 레이아웃</a> by Kim-chanmi (<a href="https://codepen.io/kim-chanmi">@kim-chanmi</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

            <hr>

            <h4 class="t_tit3">02. flex 방법</h4>
            <p class="t_desc2">
                레이아웃 배치 전용으로 나온 속성입니다. float 방법보다 단조롭고 편한 방법입니다.
                float방법처럼 필요한 각각 요소들에 적용하는 것이 아닌 자식 요소를 감싸고 있는 부모 요소에게만
                적용하면 됩니다.
            </p>
            <div class="t_box">
                <i><사용방법></i><br>
                display: flex <br>
                flex-wrap: wrap; ->인라인으로 배치하며, 행 안에 다 차면 다음행으로 이동<br>
                flex-direction: row; -> 가로 방향으로 배치 <br>
                flex-direction: row-reverse; -> 가로 역순 방향으로 배치<br>
                flex-direction: column; -> 세로 방향으로 배치<br>
                flex-direction: column-reverse; -> 세로 역순으로 배치             
            </div>
            <p class="t_desc">사용예시</p>
            <p class="codepen" data-height="300" data-default-tab="css,result" data-slug-hash="NWYvdgV" data-user="kim-chanmi" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/kim-chanmi/pen/NWYvdgV">
                flex 레이아웃</a> by Kim-chanmi (<a href="https://codepen.io/kim-chanmi">@kim-chanmi</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
            
            <hr>

            <h4 class="t_tit3">03. grid 방법</h4>
            <p class="t_desc2">
                table처럼 두 방향(가로-세로) 레이아웃 시스템(2차원)입니다. 따라서 flex보다 더 복합적인
                레이아웃 표현이 가능합니다. flex와 마찬가지로 부모 요소에만 적용하면 됩니다.
            </p>
            <div class="t_box">
            <i><사용방법></i><br>
                display: grid <br>
                grid-template-areas: ; -> 요소 이름을 참조해 table처럼 세분화해서 배치<br>
                grid-template-rows; -> 행의 크기 지정 <br>
                grid-template-columns; -> 열의 크기 지정
            </div>
            <p class="t_desc">사용예시</p>
            <p class="codepen" data-height="300" data-default-tab="html,result" data-slug-hash="LYdjxzO" data-user="kim-chanmi" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
                <span>See the Pen <a href="https://codepen.io/kim-chanmi/pen/LYdjxzO">
                grid 레이아웃</a> by Kim-chanmi (<a href="https://codepen.io/kim-chanmi">@kim-chanmi</a>)
                on <a href="https://codepen.io">CodePen</a>.</span>
            </p>
            <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
        </div>
    </main>
    <!-- //main -->
    <footer id="footer">
        <a href="mailto:webstoryboy@naver.com">chanmi0517@naver.com</a>
    </footer>
    <!-- //footer -->
    <script src="../assets/js/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>

</body>
</html>