.memory__wrap {
  display: none;
}
.memory__inner {
  width: 700px;
  height: 772.67px;
  border: 3px solid rgb(213, 180, 236);
  background: #444;
  position: absolute;
  left: 30%;
  top: 60px;
  border-radius: 20px;
  animation: flicker 1.5s infinite alternate;
}
.memory__intro {
  text-align: center;
  color: #eee;
}
.memory__intro h2 {
  margin-top: 150px;
  font-size: 50px;
  margin-bottom: 40px;
}
.memory__intro li {
  list-style: none;
  line-height: 1.6;
  font-size: 24px;
  margin-bottom: 40px;
}
.memory__start {
  font-size: 45px;
  width: 200px;
  position: absolute;
  left: 35%;
}
.memory__restart {
  text-align: center;
  background: #000;
  color: #fff;
  width: 200px;
  font-size: 45px;
  padding: 10px 0;
  border-radius: 10px;
  transform: scale(0);
  animation: flicker 1.5s infinite alternate;
  position: absolute;
  left: 38%;
  top: 48%;
}
.memory__restart2 {
  text-align: center;
  background: #000;
  color: #fff;
  width: 300px;
  font-size: 45px;
  line-height: 1.4;
  padding: 10px 0;
  border-radius: 10px;
  transform: scale(0);
  animation: flicker 1.5s infinite alternate;
  position: absolute;
  left: 30%;
  top: 43%;
}
.memory__close {
  position: absolute;
  top: 50px;
  right: 45px;
  width: 25px;
  height: 25px;
}
.memory__header {
  text-align: center;
}
.memory__header h2 {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #fff;
}
.memory__info {
  margin-top: 40px;
  margin-bottom: 40px;
  color: #fff;
}

.memory__card {
  padding: 30px;
  display: none;
}
.memory__card .cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.memory__card .cards li {
  list-style: none;
  width: 130px;
  height: 130px;
  position: relative;
  border-radius: 20px;
  transform-style: preserve-3d;
  perspective: 500px;
}
.memory__card .cards li img {
  width: 100%;
}
.memory__card .cards li .front {
  transition: all 0.4s;
}
.memory__card .cards li.flip .front {
  transform: rotateY(180deg);
}
.memory__card .cards li .view {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(242, 242, 184);
  backface-visibility: hidden;
  padding: 10%;
  border-radius: 20px;
  transition: all 0.3s;
  user-select: none;
  pointer-events: none;
}
.memory__card .cards li .back {
  transform: rotateY(180deg);
  transition: all 0.5s;
}
.memory__card .cards li.flip .back {
  transform: rotateY(0deg);
}

.memory__card .cards li.shakeX {
  animation: shakeX 1s 1;
}

.memory__card .cards li.shakeY {
  animation: shakeY 1s 1;
}
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
      0 0 2rem rgb(213, 180, 236), inset 0 0 2rem rgb(213, 180, 236),
      0 0 4rem rgb(213, 180, 236), inset 0 0 4rem rgb(213, 180, 236);
  }
}

@keyframes shakeX {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shakeY {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(0, -10px, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(0, 10px, 0);
  }
}
